<!-- <div class="container"style=" box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); padding: 0% !important"> -->

    <div class="container-fluid" style="width: 1358px;
    height: 514px;">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img class="d-block w-100"  height="500px"src="../../assets/58000.jpg" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h4>ORGANIC FOOD</h4>
                            <p>Agriculture for life</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" height="500px" src="../../assets/646.jpg" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                                <h4>CHEAP FOOD</h4>
                                <p>Agriculture for life</p>
                            </div>
                      </div>
                      <div class="carousel-item">
                        <img class="d-block w-100" height="500px" src="../../assets/57998.jpg" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                                <h4>SUSTAINABLE AGRICULTURE</h4>
                                <p>Agriculture for life</p>
                            </div>
                      </div>
                    </div>
                  </div>
    </div>
    
      <!-- </div> -->
