

<div class="id">
    <app-navbar></app-navbar> 
<div class="container" style="margin-left:250px">



  <div class="main">
    <div class="contianer-fluid mt-3" style="padding-top: 50px;width: 139%;    transform: translate(-227px, 30px);">
            <div class="left">
                    <div class="title">
                      <h1>Contact US</h1>
                    </div>
                    <form>
          
                      <input type="text" placeholder="Name">
                      <input type="tel" placeholder="Phone Number">
                      <input type="email" placeholder="Email">
                      <textarea name="Message" id="" placeholder="Message"></textarea>
                      <input type="submit" value="Send">
                    </form>
                  </div>
                  <div class="right">
                    <div class="content">
                      <p><i class="fa fa-map-marker" aria-hidden="true"></i>SIT Tumakuru Karnataka-572103</p><br>
                      <p><i class="fa fa-envelope" aria-hidden="true"></i> agrodestination221@gmail.com
                      </p><br>

                      <p><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +91 9874545636
                      </p>
          
                    </div>
                </div>
    </div>
    
    
  </div>
</div>
</div>
